@model IEnumerable<WardrobeMVC.Models.LeisureOutfit>

@{
    ViewBag.Title = "Leisure";
}

<h2 style="text-align:center; color:#B8A499;">Leisure Oufits</h2>

<h3 class="reviewH3 softWhiteBG">
    @Html.ActionLink("Create a New Outfit", "Create")
</h3>

<div class="row container-fluid" style="margin:auto;">
    @foreach (var item in Model)
    {
        <div style=" border: .5px solid black;">
            <h3 style="text-align:center; color:#FFF6F0; font-size: 30px; padding-bottom:20px;">
                <span>
                    @Html.DisplayFor(modelItem => item.Outfit.OutfitName)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("View Details", "Details", new { id = item.LeisureOutfitID }, new { role = "button", @class = "btn btn-primary" })
                </span>
            </h3>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>@Html.DisplayFor(modelItem => item.LeisureTop.LeisureTopName)</h3>
                        <p>
                            <img src="@Url.Content("~/Content/Images/MensTeeShirt.jpg")" class="img-thumbnail img-responsive imgIndex" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>@Html.DisplayFor(modelItem => item.LeisureBottom.LeisureBottomName)</h3>
                        <p>
                            <img src="@Url.Content("~/Content/Images/athleticbottom.jpg" )" class="img-thumbnail img-responsive imgIndex" />
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>@Html.DisplayFor(modelItem => item.LeisureSho.LeisureShoesName)</h3>
                        <p>
                            <img src="@Url.Content("~/Content/Images/tennisshoes.jpg")" class="img-thumbnail img-responsive imgIndex" />
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>@Html.DisplayFor(modelItem => item.LeisureAccessory.LeisureAccessoryName)</h3>
                        <p>
                            <img src="@Url.Content("~/Content/Images/SunglassesAccessory.jpg")" class="img-thumbnail img-responsive imgIndex" />
                        </p>
                        @*<p style="margin-left: 30px; margin-bottom:35px;">
                                @Html.ActionLink("View Details", "Details", new { id = item.LeisureTopID }, new { role = "button", @class = "btn btn-primary" })
                            </p>*@
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <br />
    }

</div>

