@model IEnumerable<WardrobeMVC.Models.FormalAccessory>

@{
    ViewBag.Title = "Formal Accessory";
}

<div>
    <h1 class="reviewH1 softWhiteBG">Formal Accessories</h1>

    <h3 class="reviewH3 softWhiteBG">
        @Html.ActionLink("What formal accessories do you want to add?", "Create")
    </h3>
</div>
<div class="container-fluid softWhiteBG1" style="margin:auto; padding-top:25px; margin-bottom:0;">

    <div class="row">
        @foreach (var item in Model)


        {
            <div class="col-md-2 card">
                <a target="_blank" href=@Url.Content(item.FormalAccessoryPhoto)>
                    <img class="myImgAcc" src=@Url.Content(item.FormalAccessoryPhoto) alt="Forest">
                </a>
                <h4>
                    @Html.DisplayFor(modelItem => item.FormalAccessoryName)
                </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.FormalAccessoryType)
                </h4>



                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FormalAccessoryID }) &nbsp; &nbsp;|&nbsp; &nbsp;
                    @Html.ActionLink("Details", "Details", new { id = item.FormalAccessoryID })

                </p>

            </div>
        }
    </div>
</div>



