@model WardrobeMVC.Models.WorkSho

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkSho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShoesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShoesType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
