@model IEnumerable<WardrobeMVC.Models.WorkTop>

@{
    ViewBag.Title = "Work Tops";
}

<div>
    <h1 class="reviewH1 softWhiteBG">Work Tops</h1>

    <h3 class="reviewH3 softWhiteBG">
        @Html.ActionLink("What work tops do you want to add?", "Create")
    </h3>
</div>
<div class="container" style="margin:auto; margin-top: 20px;">

    @foreach (var item in Model)
    {
        <div class="col-md-5 detail" style="margin-right:15px; margin-top:75px;">
            <h3 class="well well-sm wellBGShoes">
                <span>Brand:  </span><span style="float:right;">@Html.DisplayFor(modelItem => item.WorkTopName)</span>
            </h3>
            <h3 class="well well-sm wellBGShoes">
                <span>Type: </span><span style="float:right;"> @Html.DisplayFor(modelItem => item.WorkTopType)</span>
            </h3>
           
        </div>
        <div class="col-md-5 detail" style="margin:auto; margin-left:150px; padding-bottom: 5.2px; margin-bottom:25px;">
            <h2>
                <img class="myImgShoes" src=@Url.Content(item.WorkTopPhoto) />
            </h2>
            <p style="font-size:25px; text-align:center;">
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkTopID }) &nbsp; &nbsp;|&nbsp; &nbsp;
                @Html.ActionLink("Details", "Details", new { id = item.WorkTopID })
            </p>
        </div>
        <br /><br />
    }
</div>



